.container-details{
    position: relative;
    top: calc(50vh - 400px);
    display: flex;
    gap: 1.5em;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5em;
    width: 850px;
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
}

.details-img{
    width: 500px;
}

.info-name-details{
    font-size: 1.6em;
    margin: 0;
    font-weight: 600;
}

.info-marca-details{
    font-size: 3em;
    margin: .2em 0 0;
}

.info-price-details{
    font-size: 2.2em;
    font-weight: 600;
    margin: .5em  0;
}

.info-envio-details{
    background-color: black;
    color: white;
    display: inline;
    padding: .2em 1em;
    font-size: 1.2em;
}

.info-talle-details{
    font-size: 1.5em;
}


ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-left: -2.5em;
    list-style: none;
}

li{
    border: 2px solid black;
    width: 38px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li:hover{
    background-color: rgba(0, 0, 0, 0.322);
    cursor: pointer;
}

@media (max-width: 600px) {

    .details-img{
        width: 300px;
    }

    .container-details{
        width: 300px;
        flex-direction: column;
        width: 290px;
    }
}