.container-details{
    position: relative;
    top: calc(50vh - 496px);
    display: flex;
    gap: 1.5em;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5em;
    width: 850px;
    height: 565px;
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
}

.details-img{
    width: 500px;
}

.info-name-details{
    font-size: 1.6em;
    margin: 0;
    font-weight: 600;
}

.info-marca-details{
    font-size: 3em;
    margin: .2em 0 0;
}

.info-price-details{
    font-size: 2.2em;
    font-weight: 600;
    margin: .5em  0;
}

.info-envio-details{
    background-color: black;
    color: white;
    display: inline;
    padding: .2em 1em;
    font-size: 1.2em;
}

.info-talle-details{
    font-size: 1.5em;
}


.item-detalle{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-left: -2.5em;
    list-style: none;
}

.button-cart-container{
    text-align: center;
    margin-top: 5em;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.button-cart{
    font-size: 1.3em;
    width: 140px;
    height: 70px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: .2em;
    background-color: black;
    color: white;
    transition: background-color .2s ease ;
}

.seguir{
    background-color: #fdc526;
    color: black;
    border: none;
}

.container-talles{
    position: relative;
}

.input{
    z-index: 1;
    position: absolute;
    left: -11px;
    top: -2px;
    opacity: 0;
    width: 55px;
    height: 30px;
    cursor: pointer;
}

.label{
    border: 2px solid black;
    width: 38px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s ease;
}

.input:checked + .label{
    background-color: black;
    color: white;
}

@media (max-width: 600px) {

    .details-img{
        width: 300px;
    }

    .container-details{
        width: 300px;
        flex-direction: column;
        width: 290px;
    }
}