.container-itemDetail{
    color: rgb(0, 0, 0);
    margin-left: 72.4px;
}

.obteniendo-producto{
    position: absolute;
    top: 5em;
    left: calc(50vw - 3em);
    color: rgb(255, 255, 255);
    font-size: 3em;
}